.main {
  padding: 1rem;
  text-align: center;
}

.main section {
  margin-top: 5rem;
}

.main section > h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color-red);
  text-transform: uppercase;
}

.main section > p {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.8rem;
  text-transform: capitalize;
  margin: 1rem 0 3rem;
}

/* ###################### SECTION SERVICES ###################### */
.section__services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section__services div {
  flex: 1;
  padding: 2rem 1rem;
  border-radius: 1.6rem;
  background: #ffffff;
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}

.section__services img {
  width: 50%;
}

.section__services h3 {
  font-size: 1.8rem;
  text-transform: capitalize;
}

.section__services p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

/* ###################### SECTION MENU ###################### */
.section__menu {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

ul.section__menu__navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.section__menu__navbar li {
  width: min(48%, 20rem);
  height: 5rem;
}

.section__menu__navbar li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  padding: 0.7rem;
  border: 0.2rem solid var(--secondary-color);
  border-radius: 5rem;
  transition: 0.2s ease-in-out;
}

.section__menu__navbar li a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.section__menu__navbar li a:hover {
  background-color: var(--secondary-color);
  color: var(--text-color-light);
}

.section__menu__navbar li a:hover span {
  background-color: #ffffff;
}

.section__menu__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .section__services {
    flex-direction: row;
  }
}
