.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;

  width: 100%;
  height: 12rem;
  background-color: var(--primary-color);

  position: fixed;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 10;
}

.navbar-logo img {
  width: 100%;
  max-width: 18rem;
}

.navbar-smallscreen {
  display: flex;
}

.navbar-smallscreen ul li {
  text-align: center;
  width: 100%;
}

.navbar-smallscreen ul li + li {
  margin-top: 2rem;
}

.navbar-smallscreen ul li a {
  display: block;
  padding: 1rem;
  font-size: 2.8rem;
  color: var(--text-color-light);
}

.navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--overlay);
  transition: 0.5s ease;
  flex-direction: column;
}

.navbar-smallscreen_overlay .overlay__close {
  cursor: pointer;
  position: absolute;
  top: 4rem;
  right: 2rem;
  color: #eb5757;
}

.navbar-smallscreen_links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar-links {
  display: none;
}

@media (min-width: 768px) {
  .navbar-smallscreen {
    display: none;
  }

  .navbar-links {
    display: flex;
    gap: 1rem;
  }

  .navbar-links li a {
    border: 2px solid transparent;
    padding: 0 1rem;
    transition: 0.3s ease;
  }

  .navbar-links li a:hover {
    border-bottom: 2px solid var(--secondary-color);
    border-top: 2px solid var(--secondary-color);
  }
}
