@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #ffffff;
  --secondary-color: #eb5757;
  --text-color: #333333;
  --text-color-red: #eb5757;
  --text-color-light: #f2f2f2;
  --overlay: #000000;
  --btn-dark: #eb5757;
  --btn-light: #f6aca6;
  --banner-light: #ffddcc;

  font-size: 62.5%;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3.2rem;
}

a {
  cursor: pointer;
  color: unset;
  text-decoration: none;
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

nav,
header,
main,
footer {
  width: 100%;
  max-width: 120rem;
  margin-inline: auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-inline: auto;
  border-radius: 3.5rem;
  color: var(--text-color);
  font-weight: 500;
  width: 20rem;
  height: 5rem;
  transition: 0.3s ease-in-out;
}

.btn.pulse {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.btn__btn-dark {
  background-color: var(--btn-dark);
  color: var(--text-color-light);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
